# Test

## 0 Menu

- Function
  - MQTT
  - Dashboard
  - Map
  - Device
  - Message
  - User
- Privilege
  - admin
  - user
- Device
  - PC
  - Phone



## 1 Function

### MQTT

| Item                            | OK   |
| ------------------------------- | ---- |
| Backend subscriber receive      | Yes  |
| Backend subscriber state update | Yes  |
| Frontend data update            | Yes  |

### Dashboard

| Item         | OK   |
| ------------ | ---- |
| Data display | Yes  |

### Map

| Item         | OK   |
| ------------ | ---- |
| Data display | Yes  |

### Device

| Item           | OK   |
| -------------- | ---- |
| Data display   | Yes  |
| Add device     | Yes  |
| Edit device    | Yes  |
| Detail display | Yes  |
| Delete device  | Yes  |

### Message

| Item               | OK   |
| ------------------ | ---- |
| Data display       | Yes  |
| Option search      | Yes  |
| Information detail | Yes  |

### User

| Item         | OK   |
| ------------ | ---- |
| Data display | Yes  |
| User add     | Yes  |
| User edit    | Yes  |
| User login   | Yes  |
| User delete  | Yes  |



## 2 Privilege

### Admin

| Item       | OK   |
| ---------- | ---- |
| All device | Yes  |
| All user   | Yes  |
| User add   | Yes  |

### User

| Item                 | OK   |
| -------------------- | ---- |
| Personal device      | Yes  |
| Limited user display | Yes  |
| Prohibit user add    | Yes  |



## 3 Device

### PC

| Item                   | OK   |
| ---------------------- | ---- |
| All pages perform well | Yes  |

### Phone

| Item                   | OK   |
| ---------------------- | ---- |
| All pages perform well | Yes  |

One problem is the `message` page use a scroll to show all